<div class="d-flex flex-column carousel-wrapper" th:fragment="img-carousel(anuncio)">
	<div class="carousel-active-image-wrapper border" onmouseenter="onMouseOver()" onmouseleave="onMouseLeave()">
		<div class="carousel-slide-controllers" style="visibility: hidden" >
			<span id="previous-button" class="carousel-slide-controller"><</span>
			<span id="next-button" class="carousel-slide-controller">></span>
		</div>
		<img 
			class="carousel-active-image d-flex" 
			th:src="${anuncio.thumbnail != null ? anuncio.thumbnail.foto.path : anuncio.fotos[0].foto.path}" 
			th:alt="${anuncio.thumbnail != null ? anuncio.thumbnail.foto.nome : anuncio.fotos[0].foto.nome}"
		>
	</div>
	<div class="carousel-thumbnails-wrapper d-flex mt-3 border px-3">
		<div class="m-2" th:each="foto : ${anuncio.fotos}">
			<img th:id="${foto.id}" class="carousel-image" th:src="${anuncio.id} + '/' + ${foto.foto.path}" th:alt="${foto.foto.nome}" >
		</div>
	</div>
</div>