<head th:replace="~{ base::head }"></head>
<body>
    <header th:replace="~{ base::header }"></header>
    <main class="meus-anuncios-wrapper border border-success rounded container p-3 my-2 text-center" th:fragment="lista-anuncios(anuncios)">
        <form class="form-group mb-3" th:action="@{/anuncios/} + ${anuncio.id} + @{/edit}" method="post">
        <section class="d-flex flex-column p-3">
            <h3 class="h3">Detalhes do anúncio</h3>
                <div class="d-flex align-items-center mx-auto w-100 p-2">
                    <label for="titulo">Título:</label>
                    <input class="form-control ms-2" type="text" th:value="${anuncio.nome}"  name="titulo" style="width: 50%;">
                    <div class="d-flex align-items-center ms-2 p-2">
                        <label for="valor">Valor:</label>
                        <div class="input-group ms-2">
                            <span class="input-group-text">R$</span>
                            <input id="valor-input" onkeypress="return (event.charCode != 8 && event.charCode == 0 || event.charCode == 44 || ( event.charCode == 46 || (event.charCode >= 48 && event.charCode <= 57)))" class="form-control" type="text" th:value="${anuncio.valor}"  name="valor">
                        </div>
                    </div>
                </div>
                <div class="d-flex flex-column align-items-start p-2 py-0">
                    <label for="descricao">Descrição:</label>
                    <textarea class="form-control anuncio-descricao-campo" type="text" th:text="${anuncio.descricao}" name="descricao"></textarea>
                </div>
                <h3 class="h3 mt-3">Galeria</h3>
                <div id="galeria-container" class="d-flex flex-wrap mx-auto">
                    <div class="anuncio-imagem-thumbnail-wrapper" th:each="foto, iter : ${anuncio.fotos}">
                        <button 
                            th:id="'btn-' + ${foto.foto.id}"
                            type="button"
                            class="btn btn-close editar-anuncio-imagem-apagar-btn">
                        </button>
                        <img 
                            th:id="${foto.foto.id}" 
                            class="anuncio-imagem-thumbnail ms-2" 
                            th:classappend="${anuncio.thumbnail != null && anuncio.thumbnail.id == foto.foto.id ? 'anuncio-imagem-ativa' : ''}" 
                            th:src="${foto.foto.path}" 
                            th:alt="${foto.foto.nome}"
                        >
                    </div>
                    <div id="upload-wrapper" class="d-flex text-center p-2 px-4 ms-4 align-items-center editar-anuncio-upload-wrapper">
                        <label class="d-flex flex-column mx-auto align-items-center" for="editar-anuncio-upload-input">
                            <i id="editar-anuncio-upload-icon" class="bi bi-plus-circle text-success"></i>
                            <span class="text-success">Adicionar</span>
                        </label>
                        <input 
                            type="file" 
                            id="editar-anuncio-upload-input" 
                            name="img-upload" 
                            style="position: absolute; visibility: hidden;" 
                            accept="images/*"
                        >
                    </div>
                </div>
            </section>
            <input 
                type="hidden" 
                id="editar-anuncio-thumbnail" 
                name="thumbnailId" 
                style="position: absolute; visibility: hidden;" 
                accept="images/*"
                th:value="${anuncio.thumbnail != null ? anuncio.thumbnail.id : anuncio.fotos[0].foto.id}"
            >
            <button type="submit" class="btn btn-success">Salvar</button>
        </form>
    </main>
    <script type="text/javascript" th:src="@{/js/editar-anuncio.js}" ></script>
</body>
<footer th:replace="~{ base::footer }"></footer>