<head th:replace="~{ base::head }"></head>
<body>
    <header th:replace="~{ base::header }"></header>
    <div class="form-minha-conta-wrapper d-flex flex-column border border-success rounded w-75 mx-auto p-4 my-3 text-center">
        <div th:if="${erro}" th:text="${erro}" class="mensagem-confirmacao border border-dark d-flex mx-auto bg-danger p-2 px-4 m-3 rounded text-white"></div>
        <div th:if="${mensagem}" th:text="${mensagem}" class="mensagem-confirmacao border border-dark d-flex mx-auto bg-success p-2 px-4 m-3 rounded text-white"></div>
        <h3>Complete suas informações</h3>
        <form id="form-cadastro" th:object="${usuario}" th:action="@{/minha-conta/finalizar-cadastro}" method="post">
            
            <div class="d-flex flex-column border border-success p-3 rounded w-50 mx-auto">
                <div class="form-minha-conta-campo form-group">
                    <label for="telefone">Telefone:</label>
                    <input class="form-control" type="number" th:field="*{telefone}" placeholder="Digite o seu telefone">
                </div>
            </div>
            
            <div>
                <h3 class="mt-3">Endereço</h3>
                <div class="d-flex w-50 flex-wrap border border-success rounded p-3 mx-auto my-3">
                    <div class="container row">
                        <div class="form-minha-conta-campo form-group col-9">
                            <label for="endereco">Endereço:</label>
                            <input class="form-control" type="text" th:field="*{endereco}" placeholder="Ex: Rua das Palmeiras">
                        </div>
                        <div class="form-minha-conta-campo form-group col-3">
                            <label for="numero">Número:</label>
                            <input class="form-control" type="text" th:field="*{numero}" placeholder="Nº" style="max-width: 80px;">
                        </div>
                    </div>
                    <div class="container row">
                        <div class="form-minha-conta-campo form-group col-7">
                            <label for="complemento">Complemento:</label>
                            <input class="form-control" type="text" th:field="*{complemento}" placeholder="Ex: Quadra 04">
                        </div>
                        <div class="form-minha-conta-campo form-group col-5">
                            <label for="bairro">Bairro:</label>
                            <input class="form-control" type="text" th:field="*{bairro}" placeholder="Ex: Barra Funda">
                        </div>
                    </div>
                    
                    <div class="container row">
                        <div class="form-minha-conta-campo form-group col-7">
                            <label for="Cidade">Cidade:</label>
                            <input class="form-control" type="text" th:field="*{cidade}" placeholder="Ex: São Paulo">
                        </div>
                        <div class="form-minha-conta-campo form-group col-5">
                            <label for="estado">Estado:</label>
                            <select class="form-select" th:field="*{uf}">
                                <option value="AC">Acre</option>
                                <option value="AL">Alagoas</option>
                                <option value="AP">Amapá</option>
                                <option value="AM">Amazonas</option>
                                <option value="BA">Bahia</option>
                                <option value="CE">Ceará</option>
                                <option value="DF">Distrito Federal</option>
                                <option value="ES">Espírito Santo</option>
                                <option value="GO">Goiás</option>
                                <option value="MA">Maranhão</option>
                                <option value="MT">Mato Grosso</option>
                                <option value="MS">Mato Grosso do Sul</option>
                                <option value="MG">Minas Gerais</option>
                                <option value="PA">Pará</option>
                                <option value="PB">Paraíba</option>
                                <option value="PR">Paraná</option>
                                <option value="PE">Pernambuco</option>
                                <option value="PI">Piauí</option>
                                <option value="RJ">Rio de Janeiro</option>
                                <option value="RN">Rio Grande do Norte</option>
                                <option value="RS">Rio Grande do Sul</option>
                                <option value="RO">Rondônia</option>
                                <option value="RR">Roraima</option>
                                <option value="SC">Santa Catarina</option>
                                <option value="SP">São Paulo</option>
                                <option value="SE">Sergipe</option>
                                <option value="TO">Tocantins</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-button-wrapper">
                <button class="form-button-submit btn btn-success" type="submit">Salvar</button>
            </div>
            <input type="hidden" name="id" th:value="${usuario.id}">
            <input type="hidden" name="email" th:value="${usuario.email}">
            <input type="hidden" name="nomeCompleto" th:value="${usuario.nomeCompleto}">
        </form>
    </div>
    <script>
        const mensagem = document.querySelector(".mensagem-confirmacao");

        if(mensagem) {
            setTimeout(() => {
                const paiMensagem = mensagem.parentNode;
                paiMensagem.removeChild(mensagem);
            }, 5000);
        }
    </script>
</body>
<footer th:replace="~{ base::footer }"></footer>