<head th:replace="~{ base::head }"></head>
<body>
    <header th:replace="~{ base::header }"></header>
    <main class="meus-anuncios-wrapper border border-success rounded container p-3 my-2 text-center" th:fragment="lista-anuncios(anuncios)">
        <h3 class="h3">Meus anúncios</h3>
        <div class="container d-flex my-2">
            <button class="btn btn-outline-success">Novo</button>
            <div class="input-group h-3 mx-3">
                <input type="text" class="form-control" placeholder="Pesquisar um anúncio">
                <button class="btn btn-success">Pesquisar</button>
            </div>
        </div>
        <table class="table table-hover">
            <thead>
                <th scope="col">Miniatura</th>
                <th scope="col">Título</th>
                <th scope="col">Preço</th>
                <th scope="col">Data de criação</th>
                <th scope="col">Ações</th>
            </thead>
            <tbody th:each="anuncio : ${anuncios}">
                <tr>
                    <td>
                        <img class="img-fluid img-thumbnail meus-anuncios-table-thumbnail w-10" th:src="${anuncio.fotos[0].foto.path}" alt="${anuncio.nome}">
                    </td>
                    <td class="align-items-center">
                        <p th:text="${anuncio.nome}"></p>
                    </td>
                    <td class="align-items-center">
                        <p th:text="${'R$ ' + #numbers.formatDecimal(anuncio.valor, 3, 'POINT', 2,'COMMA')}"></p>
                    </td>
                    <td class="align-items-center">
                        <p th:text="${anuncio.dataPublicacao} ? ${#temporals.format(anuncio.dataPublicacao, 'dd/MM/yyyy')} : 'Não definido' "></p>
                    </td>
                    <td>
                        <div class="d-flex mx-auto">
                            <i class="bi bi-pencil-fill"></i>
                            <i class="bi bi-trash3-fill"></i>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </main>
</body>
<footer th:replace="~{ base::footer }"></footer>