<head th:replace="~{ base::head }"></head>
<body>
    <header th:replace="~{ base::header }"></header>
    <div th:if="${mensagem}" th:text="${mensagem}" class="mensagem-confirmacao border border-dark d-flex mx-auto bg-success p-2 px-4 m-3 rounded text-white"></div>
    <main class="meus-anuncios-wrapper border border-success rounded container p-3 my-2 text-center mb-0" th:fragment="lista-anuncios(anuncios)">
        <h3 class="h3">Meus anúncios</h3>
        <div class="container d-flex my-2">
            <a th:href="@{/meus-anuncios/novo}" class="btn btn-outline-success">Novo</a>
            <form class="input-group h-3 mx-3" th:action="@{/meus-anuncios/busca}">
                <input id="pesquisa-anuncio" type="text" class="form-control" name="q" placeholder="Pesquisar um anúncio">
                <button id="pesquisa-anuncio-btn" type="submit" class="btn btn-success">Pesquisar</button>
            </form>
        </div>
        <div class="table-responsive tabela-wrapper">
            <table class="table table-hover">
                <thead>
                    <th scope="col">Miniatura</th>
                    <th scope="col">Título</th>
                    <th scope="col">Preço</th>
                    <th scope="col">Data de criação</th>
                    <th scope="col">Ações</th>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="5" class="text-center" th:if="${#lists.size(anuncios.content) == 0}">
                            Você ainda não possui anúncios publicados.
                        </td>
                    </tr>
                    <tr th:each="anuncio : ${anuncios}">
                        <td>
                            <a class="anuncio-wrapper-link" th:href="${'anuncios/' + anuncio.id}">
                                <img th:if="${#lists.size(anuncio.fotos) == 0}" class="img-fluid img-thumbnail meus-anuncios-table-thumbnail w-10" src="https://placehold.jp/8c8c8c/ffffff/230x150.png?text=Sem%20imagem" th:alt="${anuncio.nome}">
                                <img th:if="${#lists.size(anuncio.fotos) > 0 && anuncio.thumbnail == null}" class="img-fluid img-thumbnail meus-anuncios-table-thumbnail" th:src="@{/anuncios/} + ${anuncio.id} + '/' + ${anuncio.fotos[0].foto.nome}" th:alt="${anuncio.nome}">
                                <img th:if="${#lists.size(anuncio.fotos) > 0 && anuncio.thumbnail != null}" class="img-fluid img-thumbnail meus-anuncios-table-thumbnail" th:src="@{/anuncios/} + ${anuncio.id} + '/' + ${anuncio.thumbnail.thumbnailNome}" th:alt="${anuncio.nome}">
                            </a>
                        </td>
                        <td class="align-middle">
                            <a class="anuncio-wrapper-link" th:href="${'anuncios/' + anuncio.id}">
                                <span th:text="${anuncio.nome}"></span>
                            </a>
                        </td>
                        <td class="align-middle">
                            <a class="anuncio-wrapper-link" th:href="${'anuncios/' + anuncio.id}">
                                <span th:text="${'R$ ' + #numbers.formatDecimal(anuncio.valor, 1, 'POINT', 2,'COMMA')}"></span>
                            </a>
                        </td>
                        <td class="align-middle">
                            <a class="anuncio-wrapper-link" th:href="${'anuncios/' + anuncio.id}">
                                <span th:text="${anuncio.dataPublicacao} ? ${#temporals.format(anuncio.dataPublicacao, 'dd/MM/yyyy')} : 'Não definido' "></span>
                            </a>
                        </td>
                        <td class="align-middle">
                            <div class="d-flex justify-items-start">
                                <a class="anuncio-wrapper-link" style="width: 1rem;" th:href="${'anuncios/' + anuncio.id + '/edit'}"><i class="bi bi-pencil-fill"></i></a>
                                <button th:id="${anuncio.id}" class="anuncio-delete-button ms-2" style="width: 1rem;"><i class="bi bi-trash3-fill"></i></button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </main>
    <section class="d-flex w-100 p-3">
        <div class="d-flex mx-auto align-items-center">
            <a class="setas-paginacao" th:if="${anuncios.number > 0}" th:href="@{/meus-anuncios?page=} + ${anuncios.number - 1}"><i class="bi bi-chevron-left"></i></a>
            <a th:if="${anuncios.totalPages < 9}" th:each="pagina : ${#numbers.sequence(anuncios.number, anuncios.totalPages)}" th:unless="${pagina < 1}" th:href="@{/meus-anuncios?page=} + ${pagina - 1}">
                <button class="btn btn-success" th:if="${(pagina - 1) == anuncios.number}" th:text="${pagina}"></button>
                <button class="btn btn-outline-success" th:if="${(pagina - 1) != anuncios.number}" th:text="${pagina}"></button>
            </a>
            <a th:if="${anuncios.totalPages > 10}" th:each="pagina : ${#numbers.sequence(anuncios.number, anuncios.number + 9)}" th:href="@{/meus-anuncios?page=} + ${pagina - 1}">
                <button class="btn btn-success" th:if="${(pagina - 1) == anuncios.number}" th:text="${pagina}"></button>
                <button class="btn btn-outline-success" th:if="${(pagina - 1) != anuncios.number}" th:text="${pagina}"></button>
            </a>
            <a class="setas-paginacao" th:if="${anuncios.number < anuncios.totalPages && anuncios.totalPages > 1}" th:href="@{/meus-anuncios?page=} + ${anuncios.number + 1}"><i class="bi bi-chevron-right"></i></a>
        </div>
    </section>
    <script type="text/javascript" th:src="@{/js/meus-anuncios.js}" ></script>
    <script>
        const mensagem = document.querySelector(".mensagem-confirmacao");

        if(mensagem) {
            setTimeout(() => {
                const paiMensagem = mensagem.parentNode;
                paiMensagem.removeChild(mensagem);
            }, 5000);
        }
    </script>
</body>
<footer th:replace="~{ base::footer }"></footer>