<head th:replace="~{ base::head }"></head>
<body>
    <header th:replace="~{ base::header }"></header>
    <main 
        class="justify-content-center d-flex flex-column border border-success rounded container p-3 my-3 text-center" 
        th:fragment="lista-anuncios(anuncios)"
        th:object="${anuncioDto}"
    >
        <div th:if="${#lists.size(mensagens) > 0}" class="mensagem-confirmacao border border-dark d-flex mx-auto bg-danger p-2 px-4 m-2 rounded text-white mensagem-confirmacao" th:each="mensagem : ${mensagens}" th:text="${mensagem}"></div>
        <form id="novo-anuncio-form" class="form-group mb-3">
        <section class="d-flex flex-column p-3">
            <h3 class="h3">Detalhes do anúncio</h3>
                <div class="d-flex align-items-center mx-auto w-100 p-2">
                    <label for="titulo">Título:</label>
                    <input 
                        class="form-control ms-2" 
                        type="text" 
                        th:field="*{titulo}" 
                        name="titulo" 
                        style="width: 50%;"
                        th:errorclass="is-invalid"
                        placeholder='Digite um título. Ex: TV 40" 4K'
                    >
                    <div class="invalid-feedback" th:each="error : ${#fields.errors('titulo')}" th:text="${error}"></div>
                    <div class="d-flex align-items-center ms-2 p-2">
                        <label for="valor">Valor:</label>
                        <div class="input-group ms-2">
                            <span class="input-group-text">R$</span>
                            <input 
                                id="valor-input" 
                                onkeypress="return (event.charCode != 8 && event.charCode == 0 || event.charCode == 44 || (event.charCode >= 48 && event.charCode <= 57))" 
                                class="form-control" 
                                type="text" 
                                th:field="*{valor}"
                                name="valor"
                                th:errorclass="is-invalid"
                                placeholder="Ex: 2,99"
                            >
                            <div class="invalid-feedback" th:each="error : ${#fields.errors('valor')}" th:text="${error}"></div>
                            <div th:if:"${#fields.errors('global')}">
                                <div class="erro-global text-danger" th:each="error : ${#fields.errors('global')}" th:text="${error}"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-flex flex-column align-items-start p-2 py-0">
                    <label for="descricao">Descrição:</label>
                    <textarea 
                        class="form-control anuncio-descricao-campo" 
                        type="text" 
                        th:field="*{descricao}" 
                        name="descricao"
                        th:errorclass="is-invalid"
                        placeholder="Conte-nos uma breve descrição do seu produto."
                    >
                    </textarea>
                    <div class="invalid-feedback" th:each="error : ${#fields.errors('descricao')}" th:text="${error}"></div>
                </div>
                <h3 class="h3 mt-3">Galeria</h3>
                <div id="galeria-container" class="d-flex flex-wrap mx-auto">
                    <div id="upload-wrapper" class="d-flex text-center p-2 px-4 align-items-center editar-anuncio-upload-wrapper">
                        <label class="d-flex flex-column mx-auto align-items-center" for="editar-anuncio-upload-input">
                            <i id="editar-anuncio-upload-icon" class="bi bi-plus-circle text-success"></i>
                            <span class="text-success">Adicionar</span>
                        </label>
                        <input 
                            type="file" 
                            id="editar-anuncio-upload-input" 
                            style="position: absolute; visibility: hidden;" 
                            accept="image/*"
                            multiple
                        >
                    </div>
                </div>
            </section>
            <input 
                type="hidden"
                id="editar-anuncio-thumbnail" 
                name="thumbnailId" 
                style="position: absolute; visibility: hidden;" 
                th:field="*{thumbnailId}"
            >
            <button type="submit" class="btn btn-success">Salvar</button>
        </form>
    </main>
    <script type="text/javascript" th:src="@{/js/novo-anuncio.js}" ></script>
    <script>
        const mensagens = document.querySelectorAll(".mensagem-confirmacao");
        setTimeout(() => {
            mensagens.forEach(mensagem => {
                const paiMensagem = mensagem.parentNode;
                paiMensagem.removeChild(mensagem);
            })
        }, 5000);
    </script>
</body>
<footer th:replace="~{ base::footer }"></footer>