/* Configura��es globais */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	width: 100%;
	height: 100vh;
}

body {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-height: 100% !important;
}

:root {
	--light-green: #73E2A7;
	--dark-green: #1C7C54;
	--darker-green: #1B512D;
}

a {
	text-decoration: none !important;
}

ul, li {
	position:relative;
	padding: 0;
	margin: 0;
	text-decoration:none;
	list-style-type: none;
}

#logo, #logo a {
	font-family: "Dancing Script", sans-serif;
	font-size: 2rem;
	text-decoration: none;
	color: var(--dark-green);
}

.header {
	width: 100%;
}

.nav-text {
	color: #fff !important;
}

.footer {
	color: var(--darker-green);
}

.setas-paginacao {
	color: var(--dark-green);
	font-size: 1.5rem;
	padding: 0 0.5rem;
}

.setas-paginacao:hover {
	color: var(--darker-green);
}

/* P�gina de An�ncio */

.container-lista-anuncios {
	min-height: 100vh;
}

.lista-anuncios-wrapper {
	background-color: var(--dark-green);
	border: 1px solid black;
	border-radius: 10px;
	min-height: 100vh;
}

.anuncio-completo-wrapper {
	min-height: 100%;
	display: flex;
	border: 1px solid var(--dark-green);
}


/* P�gina de An�ncio */

.anuncio-container {
	height: 100%;
	display: flex;
}

.anuncio {
	background-color: #fff;
	border: 1px solid #000;
	border-radius: 10px;
	box-shadow: 1px 1px #1111;
	user-select: none;
	cursor: pointer;
}

.anuncio-detalhes {
	border: 1px solid #000;
}
.anuncio-wrapper-link {
	display: flex;
	text-decoration: none;
	width: 100%;
	color: #000;
}

.anuncio-wrapper-link:hover {
	color: var(--dark-green);
}

.anuncio-img-wrapper {
	height: 100% !important;
}

.carousel-wrapper {
	position: relative;
	height: 100%;
	max-width: 100%;
}

.carousel-active-image-wrapper {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 1rem;
	max-width: 100%;
	height: 30rem;
}

.carousel-active-image {
	display: block;
	max-width: 100%;
}

.carousel-slide-controllers {
	position: absolute;
	display:flex;
	width: 100%;
	justify-content: space-between;
}

.carousel-slide-controller {
	padding: 1rem 1.5rem;
	background-color: rgba(50,50,50,.5);
	color: white;
	cursor: pointer;
	user-select: none;
	font-size: 1.5rem;
	font-weight: 300;
}

.carousel-slide-controller {
	display: flex;
}


.carousel-thumbnails-wrapper {
	align-items: center;
	overflow-x: scroll;
}

.carousel-thumbnails-wrapper img {
	height: 6rem;
	border: 1px solid #e5e5e5;
	cursor: pointer;
}

.anuncio-descricao {
	min-height: 5rem;
}

.anuncio-detalhes-vendedor {
	margin: 0.3rem 0;
}

.anuncio-detalhes-vendedor-body {
	border-top: 1px solid #e5e5e5;
}


/* Página de Login */
.form-wrapper {
	display: flex;
	margin: auto;
	width: max-content;
} 

.form-campo {
	margin: 1rem 0;
}

.form-button-wrapper {
	display: flex;
	width: 100%;
}

.form-button-wrapper button { 
	margin: auto;
}

/* P�gina de cadastro */
.form-cadastro-wrapper {
	width: 30%;
	margin: auto;
}

.erro-global {
	font-size: .875rem;
	font-weight: light;
}

.meus-anuncios-table-thumbnail {
	max-height: 50px;
}

/* Página meus Anúncios */
.meus-anuncios-wrapper {
	min-height: 100%;
}

.anuncio-delete-button:hover {
	color: var(--dark-green);
}

.anuncio-delete-button {
	border: none;
}

/* Página Editar anúncio */
.editar-anuncio-thumbnail {
	max-height: 20vw;
}

.anuncio-descricao-campo {
	resize: none;
	min-height: 7rem !important;
}

.anuncio-imagem-thumbnail {
	height: 6rem;
	border: 1px solid #e5e5e5;
	cursor: pointer;
	z-index: 100;
}

.anuncio-imagem-thumbnail-wrapper {
	position: relative;
}

.editar-anuncio-imagem-apagar-btn {
	visibility: hidden;
	position: absolute;
	padding-right: 10% !important;
	padding-top: 0 !important;
	z-index: 0;
	top: 0;
	right: 0;
}

.anuncio-imagem-ativa {
	border: 2px solid var(--darker-green);
}

.btn-ativo {
	visibility: visible;
}

.editar-anuncio-upload-wrapper {
	user-select: none;
	border: 2px dashed var(--darker-green);
	border-radius: 20px;
}

.editar-anuncio-upload-wrapper span {
	cursor: pointer;
}

#editar-anuncio-upload-icon {
	cursor: pointer;
	font-size: 3rem;
}

.form-minha-conta-wrapper {
	min-height: 100%;
}

@keyframes aparecer {
	0% { opacity: 0%; }
	25% { opacity: 25%; }
	50% { opacity: 50%; }
	100% { opacity: 100%; }
}

.mensagem-confirmacao {
	animation: aparecer 0.2s;
}

.form-minha-conta-campo {
	margin: 0.5rem 0;
	text-align: left;
}

#footer-social-links-wrapper {
	position: absolute;
	right: 1rem;
}

#footer-copyright {
	color: var(--dark-green);
}

.footer-social-links{
	color: var(--dark-green);
} 

.footer-social-links:hover{
	color: var(--darker-green);
}

.linha-endereco {
	width: 200% !important;
}

@media screen and (min-width: 769px) {
	#form-cadastro {
		width: 80%;
		margin-left: auto;
		margin-right: auto;
	}

	#form-completar-informacoes {
		width: 40%;
		margin: auto;
	}

}

@media screen and (max-width: 768px) {

	/* Navbar */
	.header-navbar-itens li {
		margin-left: 0 !important;
		margin: 0 auto !important;
	}

	.home-caixa-pesquisa {
		margin: 0.5rem 0;
	}

	#botao-login {
		margin-top: 0.8rem;
	}

	/* Footer */
	.footer-items-wrapper {
		display: flex;
		flex-direction: column;
	}

	#footer-social-links-wrapper {
		position: relative;
		right: 0;
	}

	/* Lista de anúncios */

	.anuncio-wrapper-link div {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.img-thumbnail {
		width: 15rem !important;
		height: auto !important;
	}

	.carousel-thumbnails-wrapper {
		width: 100%;
	}

	.carousel-thumbnails-wrapper div {
		margin: 0 auto !important;
		padding: 0.5rem;
	}

	.anuncio-wrapper-link div span {
		text-align: center;
		margin: 0.3rem 0;
	}

	/* Página do anúncio */
	.carousel-active-image {
		max-height: 100%;
		max-width: 100%;
	}

	/* Minha conta */

	.div-endereco {
		display: flex;
		width: 100%;
		flex-direction: column;
		align-items: center;
	}

	.linha-endereco-container {
		width: 200% !important;
	}

	.form-minha-conta-wrapper div {
		width: 100% !important;
	}

	.form-minha-conta-campo {
		padding: 0 !important;
	}

	/* Meus Anúncios */
	.tabela-wrapper {
		margin-top: 1rem !important;
	}

	.meus-anuncios-table-thumbnail {
		width: 100% !important;
		height: auto !important;
	}

	/* Formulários de novo Anúncio e Edição */
	#galeria-container {
		row-gap: 1rem;
	}

	html, body {
		overflow-x: hidden !important;
	}

	/* Formulário de cadastro */
	.form-cadastro-wrapper {
		width: 90%;
	}

	@media screen and (width: 768px) {
		.carousel-thumbnails-wrapper div {
			margin: 0 !important;
		}
	}


}
