<head th:fragment="head">
	<meta charset="utf-8">
	<title th:text="Classy"></title>
	<link rel="stylesheet" th:href="@{/css/normalize.css}">
	<link rel="stylesheet" th:href="@{/css/styles.css}">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">
	<script type="text/javascript" th:src="@{/js/scripts.js}" defer="defer"></script>
</head>

<div th:fragment="logo">
	<span id="logo"><a th:href="@{/}">Classy</a></span>
</div>

<header th:fragment="header" class="header navbar navbar-expand d-flex flex-column py-0">
	<ul class="navbar-nav w-100 justify-content-between align-items-center align-text-center px-3 py-1">
		<li class="nav-item">
			<div th:replace="~{base :: logo}"></div>
		</li>
		<li class="nav-item d-flex">
			<a class="btn btn-outline-success" sec:authorize="!isAuthenticated()" th:href="@{/login}">Anuncie já</a>
			<a class="nav-link" sec:authorize="isAuthenticated()" th:href="@{/minha-conta}">Minha conta</a>	
			<a class="nav-link" sec:authorize="isAuthenticated()" th:href="@{/meus-anuncios}">Meus Anúncios</a>
			<a class="nav-link" sec:authorize="isAuthenticated()" th:href="@{/logout}">Logout</a>
		</li>
	</ul>
	<nav class="navbar navbar-expand bg-success px-2  w-100" th:fragment="navbar" >
		<ul class="navbar-nav">
			<li class="nav-item">
				<a class="nav-text nav-link" th:href="@{/}">Home</a>
			</li>
		</ul>
	</nav>
</header>

<footer th:fragment="footer" class="footer d-flex container-fluid p-3 text-white justify-content-around align-items-center">
	<p class="m-0 text-white">Criado por Samuel Araújo @ 2022</p>
</footer>