<head th:fragment="head">
	<meta charset="utf-8">
	<title th:text="Classy"></title>
	<link rel="stylesheet" th:href="@{/css/normalize.css}">
	<link rel="stylesheet" th:href="@{/css/styles.css}">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
	<script type="text/javascript" th:src="@{/js/scripts.js}" defer="defer"></script>
</head>

<div th:fragment="logo">
	<span id="logo"><a th:href="@{/}">Classy</a></span>
</div>

<header th:fragment="header" class="header navbar navbar-expand d-flex flex-column py-0 border-bottom">
	<ul class="navbar-nav w-100 justify-content-between align-items-center align-text-center px-3 py-1">
		<li class="nav-item">
			<div class="d-flex align-items-center w-100">
				<div th:replace="~{base :: logo}"></div>
				<form class="input-group ms-4 home-caixa-pesquisa" th:action="@{/anuncios/busca}">
					<input id="pesquisa-anuncio" type="text" class="form-control border" name="q" placeholder="Pesquisar um anúncio">
					<button id="pesquisa-anuncio-btn" type="submit" class="btn btn-success px-4"><i class="bi bi-search"></i></button>
				</form>
			</div>
		</li>
		<li class="nav-item d-flex">
			<a class="btn btn-outline-success" sec:authorize="!isAuthenticated()" th:href="@{/login}">Anuncie já</a>
			<a class="nav-link" sec:authorize="isAuthenticated()" th:href="@{/minha-conta}">Minha conta</a>	
			<a class="nav-link" sec:authorize="isAuthenticated()" th:href="@{/meus-anuncios}">Meus Anúncios</a>
			<a class="nav-link" sec:authorize="isAuthenticated()" th:href="@{/logout}">Logout</a>
		</li>
	</ul>
	
</header>

<div th:fragment="toast-erro(mensagem)" class="toast bg-danger" style="position: absolute; top: 0; right: 0;" role="alert" aria-live="assertive" aria-atomic="true">
	<div class="toast-body" th:text="${mensagem}"></div>
</div>

<div th:fragment="toast-erro(mensagem)" class="toast bg-success" style="position: absolute; top: 0; right: 0;" role="alert" aria-live="assertive" aria-atomic="true">
	<div class="toast-body" th:text="${mensagem}"></div>
</div>

<footer th:fragment="footer" class="footer d-flex container-fluid p-3 border-top justify-content-around align-items-center">
	<div class="d-flex align-items-center w-100">
		<p id="footer-copyright" class="m-0 mx-auto">Criado por Samuel Araújo @ 2022</p>
		<div id="footer-social-links-wrapper">
			<a class="footer-social-links" href="https://www.linkedin.com/in/arausam" target="_blank"><i class="bi bi-linkedin fs-4"></i></a>
			<a class="footer-social-links ms-2" href="https://www.github.com/redwoodsam" target="_blank"><i class="bi bi-github fs-4"></i></a>
		</div>
	</div>
</footer>