<main class="lista-anuncios-wrapper container p-3" th:fragment="lista-anuncios(anuncios)">
	<ul th:if="${#lists.size(anuncios) == 0}" class="lista-anuncios m-0 p-0" th:each="anuncio : ${anuncios}">

	</ul>
	<ul th:if="${#lists.size(anuncios) > 0}" class="lista-anuncios m-0 p-0" th:each="anuncio : ${anuncios}">
		<li class="m-0 p-0">
			<div class="row anuncio container p-3 m-0">
				<a class="col-12 row anuncio-wrapper-link m-0" th:href="${'anuncios/' + anuncio.id}">
					<div class="col-2">
						<img th:if="${#lists.size(anuncio.fotos) == 0}" class="img-fluid img-thumbnail" src="https://placehold.jp/8c8c8c/ffffff/120x80.png?text=Sem%20imagem" alt="Sem imagem">
						<img th:if="${#lists.size(anuncio.fotos) > 0 && anuncio.thumbnail == null}" class="img-fluid img-thumbnail meus-anuncios-table-thumbnail w-10" th:src="@{/anuncios/} + ${anuncio.id} + '/' + ${anuncio.fotos[0].foto.nome}" th:alt="${anuncio.nome}">
						<img th:if="${#lists.size(anuncio.fotos) > 0 && anuncio.thumbnail != null}" class="img-fluid img-thumbnail" th:src="@{/anuncios/} + ${anuncio.id} + '/' + ${anuncio.thumbnail.thumbnailNome}" th:alt="${anuncio.nome}">
					</div>
					<div class="col-8 d-flex flex-column">
							<span th:text="${anuncio.nome}"></span>
							<span class="text-secondary" th:text="${anuncio.usuario.dadosPessoais.endereco.bairro + ' - ' + anuncio.usuario.dadosPessoais.endereco.cidade + ' - ' + anuncio.usuario.dadosPessoais.endereco.uf}"></span>
							<div class="mt-auto">
								<span class="text-secondary" th:text="${#temporals.format(anuncio.dataPublicacao, 'dd/MM/yyyy')}"></span>
							</div>
					</div>
					<div class="col-2 d-flex align-items-center justify-content-end">
						<span th:text="${'R$ ' + #numbers.formatDecimal(anuncio.valor, 1, 'POINT', 2,'COMMA')}"></span>
					</div>
				</a>
			</div>
		</li>
	</ul>
</main>

